.footer {
    width: 100%;
    min-height: 350px;
    background-color: #59260b;
    padding-top: 30px;
}
.h2-footer-logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 69px;
    font-family: "Roboto";
    color: white;
    @media screen and (min-width: 768px){
      font-size: 38px;
    }
    @media screen and (min-width: 1025px) {
        font-size: 48px;
    }
}
.a-footer-logo {
    height: 70px;
    text-align: center;
}
.div2-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @media screen and (min-width:768px) {
        flex-direction: initial;
        justify-content: space-around;
        align-items: baseline;
        
    }


}
.div3-footer{
    text-align: center;
    @media screen and (min-width:767px) {
        text-align: initial;
    }
}
.ul-footer{
    margin-right: 40px;
    text-align: center;
    @media screen and (min-width:768px) {
        text-align: initial;
        margin-right: 0;
    }
}
.li-footer {
    color: white;
    list-style-type: none;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    font-family: "Roboto";
    @media screen and (min-width: 768px){
        font-size: 18px;
    }
    @media screen and (min-width: 1025px) {
        font-size: 24px;
    }
}
.social-networks-footer {
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    font-family: "Roboto";
    @media screen and (min-width: 768px){
        font-size: 18px;
    }
    @media screen and (min-width: 1025px) {
        font-size: 24px;
    }
}
.ul-svg-footer {
    display: flex;
    padding: 0;
}
.li-svg-footer {
    list-style-type: none;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    @media screen and (min-width: 768px){
        width: 40px;
        height: 40px;
    }
}
.svg-footer {
    width: 18px;
    height: 18px;
    fill: white;
    @media screen and (min-width: 768px){
        width: 28px;
        height: 28px;
    }
}
.li-svg-footer:hover, 
.svg-footer:hover{
    background-color: white;
    fill: #59260b;
}
.copyright{
    color: $text-color;
    text-align: center;
    font-size: 13px;
    font-family: "Roboto";
    text-decoration: underline;
    padding-bottom: 20px;
}
.copyright::before{
    content: "\00a9";
    color: $text-color;
}